.slideshow-container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive design for mobile devices */
@media screen and (max-width: 1024px) {
    .slideshow-container {
        width: 100%;
        height: 400px;
    }

    .carousel-item {
        width: 100%;
        height: 100%;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .slideshow-container {
        height: 250px;
    }

    .carousel-item {
        width: 100%;
        height: 100%;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 480px) {
    .slideshow-container {
        height: 200px;
    }
}