<header class="navbarmin">
    <div class="container">
        <div class="logo-container">
            <img src="https://i.postimg.cc/hvPTCz7M/Student-support.png" alt="Student Support Logo" class="navbar-logo">
            <img src="https://i.postimg.cc/Pp2MR1tn/logo-umn-bg-white-09-grey.webp" alt="UMN Logo" class="navbar-logo">
            <img src="https://i.postimg.cc/WzX6j6PQ/qs-unggul2-1-1.webp" class="navbar-logo">
        </div>
        <button class="hamburger" aria-label="Toggle menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <nav class="nav-menu">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../admin/admin.html">Daftar Permintaan</a></li>
                <li><a href="../admin/DaftarRiwayat.html">Daftar Riwayat</a></li>
                <li><a href="../admin/UpdateRiwayat.html">Update Riwayat Mahasiswa</a></li>
                <li><a href="#" onclick="logout(event)">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>