<header class="navbarmin">
    <div class="container">
        <div class="logo-container">
                    <img src="https://github.com/BakiTacos/image-host/blob/main/StudKudeta/Student%20Suppot%20Logo.png?raw=true" alt="Student Support Logo" class="navbar-logo">
                    <img src="https://github.com/BakiTacos/image-host/blob/main/StudKudeta/Logo%20UMN.png?raw=true" alt="UMN Logo" class="navbar-logo">
                    <img src="https://raw.githubusercontent.com/BakiTacos/image-host/refs/heads/main/StudKudeta/Unggul.webp" alt="unggul logo" class="navbar-logo">
                </div>
        <button class="hamburger" aria-label="Toggle menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <nav class="nav-menu">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../admin/admin.html">Daftar Permintaan</a></li>
                <li><a href="../admin/DaftarRiwayat.html">Daftar Riwayat</a></li>
                <li><a href="../admin/UpdateRiwayat.html">Update Riwayat Mahasiswa</a></li>
                <li><a href="#" onclick="logout(event)">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>