<header class="navbar">
    <div class="container">
        <div class="logo-container">
            <img src="https://i.postimg.cc/c1DSgZ5y/Student-Suppot-Logo.png" alt="Student Support Logo" class="navbar-logo">
            <img src="https://i.postimg.cc/9Fsw9N1L/umn.png" alt="UMN Logo" class="navbar-logo">
            <img src="https://i.postimg.cc/WzX6j6PQ/qs-unggul2-1-1.webp"  alt="unggul logo" class="navbar-logo">
        </div>
        <button class="hamburger" aria-label="Toggle menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <nav class="nav-menu">
            <ul>
                <li>
                    <a href="../../index.html#home">Home</a></li>
                    <li><a href="../../index.html#services">Layanan</a></li>
                    <li><a href="../../index.html#booking">Pendaftaran Layanan</a></li>
                    <li><a href="../../index.html#resources">Konselor</a></li>
                    <li><a href="../../html/students/studentview.html">Status Pendaftaran</a></li>
                    <li><a href="../../index.html#contact">Kontak</a></li>
            </ul>
        </nav>
    </div>
</header>